@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

:root {
  font-size: 16px;
}
body {
  font-family: "Jost", sans-serif;
  color: $grey;
  overflow-x: hidden;
}
.title {
  font-family: "Cormorant", serif;
  font-size: 5rem;
  line-height: 1;
  span {
    font-style: italic;
    margin-top: 6px;
  }
}
.ml {
  margin-left: 7.6rem;
}

.btn {
  background-color: $orange;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.3rem 2.6rem;
  border-radius: 1.87rem;
  letter-spacing: 0.08rem;
  box-shadow: 0px 10px 11.18px 1.82px rgba(207, 92, 13, 0.2);
  transition: 0.2s ease;
  &:hover {
    background-color: $orangeHover;
  }
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-main {
  background-image: url(../img/bg-1.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 208px;
  position: relative;
  &__image {
    position: absolute;
  }
  &__tomato {
    right: 4px;
    bottom: 133px;
  }
  &__avocado {
    top: 50px;
    right: -126px;
  }
  &__beans {
    bottom: -37px;
    left: 0;
  }
  &__pepper {
    top: 40%;
    left: 100px;
  }
  &__cucumber {
    top: 0;
    left: 572px;
  }
}
.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-text {
    flex: 0 0 40%;
    &__description {
      font-size: 1.12rem;
      line-height: 1.5;
      margin-top: 3.75rem;
      margin-bottom: 4.81rem;
    }
  }
  &-visual {
    box-shadow: 0 0 0 22px transparent, 0 0 0 1px rgba($grey, $alpha);
    border-radius: 100%;
    padding: 53px;
    position: relative;
    &__image {
      border-radius: 100%;
      border: 1px solid rgba($grey, $alpha);
      padding: 21px;
      img {
        border-radius: 100%;
        box-shadow: 15px 48px 42px 0 rgba($grey, $alpha);
      }
    }
    &__btn {
      position: absolute;
      background-color: transparent;
      border: none;
      color: rgba($grey, 0.8);
      text-align: left;
      span {
        color: rgba($grey, 1);
        display: block;
        margin-top: 4px;
      }
      &::before {
        content: "";
        display: block;
        width: 11px;
        height: 11px;
        position: absolute;
        border-radius: 100%;
        background-color: $grey;
        box-shadow: 0 0 0 4px $white, 0 0 0 5px $grey;
      }
      &:focus {
        outline: none;
        &::before {
          background-color: $orange;
          box-shadow: 0 0 0 4px $white, 0 0 0 5px $orange;
        }
      }
    }
    &__01 {
      left: 54px;
      top: 45px;
      &::before {
        left: 92px;
        top: 23px;
      }
    }
    &__02 {
      top: 191px;
      right: -3px;
      &::before {
        top: 19px;
        right: 94px;
      }
    }
    &__03 {
      bottom: -46px;
      right: 235px;
      &::before {
        bottom: 54px;
        right: 41px;
      }
    }
  }
}
// Второй экран

.section-stock {
  background-image: url(../img/bg-2.png);
  background-size: cover;
  background-position: center;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  &__text {
    font-size: 1.5rem;
    max-width: 690px;
    margin-top: 3.56rem;
    line-height: 1.5;
  }
}
// Слайдер на втором экране
.slider {
  display: flex;
  margin-top: 96px;
  justify-content: space-between;
  &-milk {
    background: url(../img/stock/milk.png);
  }
  &-pasta {
    background: url(../img/stock/pasta.png);
  }
  &-meat {
    background: url(../img/stock/meat.png);
  }
  &-item {
    border: 1px solid rgba($grey, $alpha);
    border-radius: 20px;
    flex: 0 0 32.3%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 517px;
    position: relative;
    box-sizing: border-box;
    transition: 0.4s ease;
    overflow: hidden;
    box-shadow: 0 0 0 2px rgba($grey, 0);
    &:hover {
      box-shadow: 0 0 0 2px rgba($grey, $alpha);
    }
    &:hover {
      .slider-text {
        transform: translate(0px, 0px);
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 20px;
      display: block;
      transition: 0.4s ease;
    }
    &:hover::before {
      background-color: rgba($white, 0.55);
    }
  }
  &-text {
    position: absolute;
    bottom: 44px;
    left: 39px;
    transform: translate(0px, 239px);
    transition: 0.3s ease;
    max-width: 57%;
    &__link {
      color: $grey;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 0.08rem;
      padding-left: 47px;
      opacity: 0.8;
      transition: 0.3s ease;
      position: relative;
      &:hover {
        padding-left: 43px;
        opacity: 1;
      }
      &::before {
        content: "";
        position: absolute;
        left: 0;
        //   Вычисляем значение "top": 50% минус половина высоты
        top: calc(50% - 0.93rem);
        display: block;
        width: 1.875rem;
        height: 1.875rem;
        background-image: url(../img/plus.svg);
      }
    }
    &__description {
      color: rgba($grey, 0.7);
      line-height: 1.5;
      margin-bottom: 42px;
    }
    &__title {
      font-family: "Cormorant", serif;
      font-size: 1.87rem;
      color: $grey;
      margin-bottom: 24px;
    }
  }
}
